body {
    background-color: white;
    color: black;
    font-family: Arial, sans-serif;
}

h1 {
    color: #2D9900;
    margin-bottom: 10px;
}

div {
    margin: 10px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background: #eee;
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

a {
    text-decoration: none;
    color: #0066cc;
}

a:hover {
    text-decoration: underline;
}